/*===================================== Reset CSS============================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}
:root{
    --text-color: #333;
    --while-color:#fff;
}
ul{
    list-style: none;

}
li a{
    text-decoration: none;
}
p{
    color: var(--text-color);
}
.btn{
    border: none;
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
}
.btn.btn--normal:hover{
    background-color: gainsboro;
    color:#333;
}
.btn--primary{
    color: #fff;
    background-color: red;
}
.btn.btn--normal{
    background-color: #000;
    color: #fff;
}